/*</* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}


html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font: 14px/1.6 "Time And New Roman";
    background: url(./pcbg.jpg) no-repeat center top;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.btnBox {
    position: absolute;
    left: 50%;
    right: 50%;
    max-width: 750px;
    width: 90%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%) translateY(-50%);
}

.titleImg {
    background:black;
    position: absolute;
    bottom: 130px;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.titleImg img {
    margin: 0 auto;
}

.btnBox img {
    display: block;
    max-width: 100%;
}

.navBtn {
    position: relative;
    cursor: pointer;
    padding-top: 30px;
}

.kfBtn {
    padding-top: 30px;
}

.jsBox {
    display: none;
    position: fixed;
    left: 5%;
    bottom: 5%;
    max-width: 90%;
    width: auto;
    background: rgba(233, 134, 134, 0.9);
    border: 1px #f60 solid;
    padding: 2rem;
}

.navBtn:hover .jsBox {
    display: block;
}

.jsImg {
    position: absolute;
    left: 152px;
    bottom: -13px;
}

.ulList li {
    height: 45px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ulList li span.ms,
.ulList li a.ms {
    width: 80px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: black;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.ulList li .url {
    padding: 0 20px;
    flex: 1;
    margin: 0 10px;
    line-height: 45px;
    font-size: 20px;
    color: black;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.ulList li .url img {
    width: 30px;
}

.ulList li .url span {
    padding: 0 10px;
}

.ulList li .url:hover {
    background-color: rgb(224, 243, 116);
    color: #fff;
}

.hand-left {
    animation: handLeft .3s infinite alternate;
}

.hand-right {
    animation: handRight .3s infinite alternate;
}

.ulList li a {
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: #ff6;
}

.ulList li a:hover {
    background-color: #f60;
    color: #b91f1b;
}




@media (min-width: 320px) and (max-width: 480px){
    body {
        font-size: 10px;
        background-size: contain;
        }
        
        .btnBox {
        max-width: 95%;
        bottom: 10%;
        }
        
        .titleImg {
        bottom: 60px;
        }
        
        .jsBox {
        width:10px;
        }
        
        .ulList li {
        margin-bottom: 6px;
        }
        
        .ulList li span.ms,
        .ulList li a.ms {
        width: 50px;
        height: 30px;
        font-size: 14px;
        margin-right: 3px;
        }
        
        .ulList li .url {
        padding: 0 5px;
        font-size: 14px;
        }
        
        .ulList li .url span {
        padding: 0 3px;
        }
        
        .ulList li a {
        padding: 0 5px;
        height: 30px;
        font-size: 14px;
        }
}
*/